[And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(And(...,
                                        ...),
                                        ... < ...),
                                        f_A(..., ...) >= 0),
                                        f_A(3, 0) < 5),
                                        f_A(4, 0) >= 0),
                                        f_A(4, 0) < 5),
                                        f_A(5, 0) >= 0),
                                        f_A(5, 0) < 5),
                                        f_ge(0, 0) >= 0),
                                        f_ge(0, 0) < 5),
                                        f_ge(1, 0) >= 0),
                                     f_ge(1, 0) < 5),
                                 f_ge(2, 0) >= 0),
                             f_ge(2, 0) < 5),
                         f_ge(3, 0) >= 0),
                     f_ge(3, 0) < 5),
                 f_ge(4, 0) >= 0),
             f_ge(4, 0) < 5),
         f_ge(5, 0) >= 0),
     f_ge(5, 0) < 5),
 0 >= 0 + t_err_0_0 + ge_err_0_0]